* {
    font: "JetBrains Mono 11";
    background-color: transparent;
    text-color: #f5e2dd;
}
window { width: 900px; location: center; anchor: center; border: 2px; border-color: #f2ac9e; border-radius: 12px; padding: 20px; background-color: #252129; }
mainbox { children: [ inputbar, message, listview ]; spacing: 14px; }
inputbar { children: [ prompt, entry ]; spacing: 14px; padding: 6px; }
prompt { text-color: #f2ac9e; }
entry { placeholder: "Find a theme…"; }
message { padding: 0px 6px; }
textbox { text-color: #b49d9f; }
listview { columns: 3; lines: 2; fixed-height: true; scrollbar: true; spacing: 12px; }
element { orientation: vertical; spacing: 8px; padding: 12px; border: 2px; border-color: #252129; border-radius: 8px; }
element-icon { size: 210px; horizontal-align: 0.5; }
element-text { horizontal-align: 0.5; }
element selected.normal, element selected.active { background-color: #312a33; border-color: #f2ac9e; }
element normal.active { text-color: #f2ac9e; }
